spring:
  datasource:
#    username: postgres
#    url: jdbc:postgresql://ec2-3-214-2-141.compute-1.amazonaws.com:5432/d11gl08dagaj4v
#    password: 9207a49cb2cf5b706a61870b0e5fd871fc2fb40d60429b259454f628a86fc935
    username: postgres
    url: jdbc:postgresql://localhost:5432/houzing_db
    password: admin
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    #database-platform: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8081
  host: ec2-3-140-188-131.us-east-2.compute.amazonaws.com
jwt:
  expiration:
    time: 18_000_000_000
lorem:
  ipsum:
    dolor:
      jwt:
        private:
          key: classpath:app.key
        public:
          key: classpath:app.pub
logging:
  level:
    org:
      hibernate:
        SQL: error
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE
